.projectdiv{
    width: 100%;
    height: 100vh;
    
}

.projectbos{
    width: 100%;
    height: 10vh;
    
}

.projectname{
    width: 100%;
    height: 10vh;
    
    display: flex;
    align-items: flex-end;
    
}

.projects{
    width: 100%;
    height: 100vh;
    display: block;
    
}

.projects .projecttagone{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.projects .projecttagtwo{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectname h1{
    margin-left: 15%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;

}

.project1{
    width: 300px;
    height: 300px;
    
    margin-right: 3vh;
    margin-left: 3vh;
    
   
}

.project1 .resimbir{
    width: 300px;
    height: 250px;
    background-image: url(arayüz3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.project1 .yazibir{
    width: 300px;
    height: 50px;
    background-color: #f2ae00;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.project2{
    background-color: yellowgreen;
    width: 300px;
    height: 300px;
    margin-right: 3vh;
}

.project3{
    background-color: yellow;
    width: 300px;
    height: 300px;
    margin-right: 3vh;
   
}

.project4{
    background-color: tomato;
    width: 300px;
    height: 300px;
    margin-right: 3vh;
    margin-left: 3vh;
}

.project5{
    background-color: slategray;
    width: 300px;
    height: 300px;
    margin-right: 3vh;
}

.project6{
    background-color: slateblue;
    width: 300px;
    height: 300px;
    margin-right: 3vh;
    
}



@media only screen and (max-width: 430px) {
    .projectname{
        align-items: flex-end;
        justify-content: center;
        
    }

    .projectname h1{
        margin: 0;
    }
    .projects{
        width: 100%;
        height: 196vh;
    }

    
    .projects .projecttagone{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .project1{
        width: 80%;
        height: 28vh;
        background-image: url(arayüz3.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        margin-bottom: 4vh;
        
      
    }
    
    .project2{
        background-color: yellowgreen;
        width: 80%;
        height: 28vh;
        margin: 0;
        margin-bottom: 4vh;
       
    }
    
    .project3{
        background-color: yellow;
        width: 80%;
        height: 28vh;
        margin: 0;
        
       
    }

    .projects .projecttagtwo{
        height: 96vh;
        display: flex;
        flex-direction: column;
    }

    .project4{
        width: 80%;
        height: 28vh;
        background-color: darkorange;
        margin: 0;
        margin-bottom: 4vh;
      
    }
    
    .project5{
        background-color: yellowgreen;
        width: 80%;
        height: 28vh;
        margin: 0;
        margin-bottom: 4vh;
       
    }
    
    .project6{
        background-color: yellow;
        width: 80%;
        height: 28vh;
        margin: 0;
        margin-bottom: 4vh;
        
       
    }
    

}



@media only screen and (min-width: 430px) and (max-width: 830px) {

    .projectname{
        align-items: flex-end;
        justify-content: center;
        
    }

    .projectname h1{
        margin: 0;
    }
    .projects{
        width: 100%;
        height: 392vh;
    }
    .projects .projecttagone{
        height: 200vh;
        display: flex;
        flex-direction: column;
    }

    .project1{
        width: 80%;
        height: 56vh;
        background-color: darkorange;
        margin: 0;
        margin-bottom: 8vh;
      
    }
    
    .project2{
        background-color: yellowgreen;
        width: 80%;
        height: 56vh;
        margin: 0;
        margin-bottom: 8vh;
       
    }
    
    .project3{
        background-color: yellow;
        width: 80%;
        height: 56vh;
        margin: 0;
        
       
    }

    .projects .projecttagtwo{
        height: 192vh;
        display: flex;
        flex-direction: column;
    }

    .project4{
        width: 80%;
        height: 56vh;
        background-color: darkorange;
        margin: 0;
        margin-bottom: 8vh;
      
    }
    
    .project5{
        background-color: yellowgreen;
        width: 80%;
        height: 56vh;
        margin: 0;
        margin-bottom: 8vh;
       
    }
    
    .project6{
        background-color: yellow;
        width: 80%;
        height: 56vh;
        margin: 0;
        margin-bottom: 8vh;
        
       
    }


}

