
*{
    margin: 0;
    padding: 0;
}

.opacitybutton{
    background-color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
    color: #2D2E32;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    cursor: pointer;
}

.opacitybutton:hover{
    color: #f2ae00;
    transition: 0.5s;
}

.anadivana{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #eaeaea;
    
}
::-webkit-scrollbar-thumb {
    background-color: #2D2E32;
    border-radius: 500px;
}

.navbar{
    position: fixed;
    width: 100%;
    height: 15vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.navbar .navbarlogo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #2D2E32;
    margin-left: 10%;
    user-select: none;
}

.navbar .navbarlink {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #2D2E32;
    margin-right: 10%;
    text-decoration: none;
    list-style: none;
    
}

.navbar .navbarlink a:hover{
    color: #f2ae00;
    transition: 0.5s;
}

.navbar .navbarlink a{
    margin-right: 3%;
    text-decoration: none;
    color: #2D2E32;
    width: 21%;
}

.navbar .navbarlink .atagx{
    margin-right: 3%;
    text-decoration: none;
    color: #2D2E32;
    width: 21%;
    cursor: pointer;
}

.navbar .navbarlink .atagx:hover{
    color: #f2ae00;
    transition: 0.5s;
}

.fa-bars{
    display: none;
}

@media only screen and (max-width: 830px) {
    .fa-bars{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin-right: 10%;
        width: 50px;
        height: 50px;
    }
    .navbar .navbarlink{
        display: none;
    }
}

.miniondiv{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: fixed;
}

.miniondiv{
    display: block;
    animation: ornek-animasyon;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    
}
.miniondiv .tagone,
.miniondiv .tagtwo,
.miniondiv .tagthree,
.miniondiv .tagfive{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.miniondiv .tagone{
    font-size: 25px;
    margin-bottom: 10vh;
}

.miniondiv .tagone i{
    margin-top: 3vh;
}
::selection{
    color:white;
    background: #f2ae00;
   } 

.miniondiv .tagtwo a,
.miniondiv .tagthree a,
.miniondiv .tagfour a,
.miniondiv .tagfive a{
    text-decoration: none;
    color: #2D2E32;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    cursor: pointer;
}

.miniondiv .tagtwo a:hover,
.miniondiv .tagthree a:hover,
.miniondiv .tagfive a:hover{
    color: #f2ae00;
    transition: 0.5s;
}

@keyframes ornek-animasyon {
    from {left: -100%;}
    to {left: 0;}
  }



